sudo: false
language: python

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - 3.7

before_install:
  - uname -a
  - free -m
  - df -h
  - ulimit -a
  - pip install -q numpy
  - pip install -q psutil
  - python -V
  - if [[ $TRAVIS_PYTHON_VERSION == '2.6' ]] ; then  pip install unittest2; fi
install:
  - pip install .

script:
  - mkdir empty
  - cd empty
  - python -c"import blosc; blosc.print_versions()"
  - nosetests --with-doctest blosc

