include MANIFEST.in
include *.txt *.rst
include setup.py cpuinfo.py VERSION
include pyproject.toml

recursive-include blosc *.py *.c
recursive-include c-blosc *.c *.h *.cpp *.hpp *.inc *.txt *.in
recursive-include LICENSES *
